.hero_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.hero_header_logo_text {
    text-transform: uppercase;
}

.hero_header_btns{
    display: flex;
    justify-content: space-between;
    width: 210px;
}
.sign_up_btn{
    padding: 4px 23px;
    
}
.hero_header_btns_button{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    border-radius: 80px;
    background-color: #F4E041;
    padding: 4px 29px;
    display: block;
    margin-right: 10px;
}

.hero_main_pic{
    background-image: url('../../../assets/imgs/heroMianPic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
}
.hero_main_pic_content{
    width: 380px;
    margin: auto;
    text-align: center;
    
}
.hero_main_header_text{
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 21px;
    
   
}
.hero_main_text{
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 32px;
    
}