.card{
    width: 370px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 29px;
    padding: 20px;
    @media (max-width: 1120px) {
        width: 280px;
    }
    
    // @media (max-width: 500px) {
    //     width: 100%;
    // }
}
.card_photo{
    border-radius: 70px;
}
.card_name{
    margin: 20px 0px;
}
.card_text{
    overflow: hidden;
    text-overflow:ellipsis;
    font-size: 16px;
    line-height: 26px;
}