@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  margin: 0;
  padding: 0;
  
}
button{
  background: none;
  border: none;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  background-color: #F8F8F8;
}

